# Azure Web App v1
# Deploy an Azure Web App for Linux or Windows.




trigger: #v1.0 
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  # Define variables for Azure service connection and subscription ID
  azureServiceConnection: 'ARM_TEMPLATE_SERVICE_CONNECTION'
  azureSubscriptionId: '540c5a3c-b29f-44d5-ada5-e8ffca6ff9e5' 

steps:

  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '6.x' #3.1.x try
      installationPath: $(Agent.ToolsDirectory)/dotnet

  - script: |
      dotnet --version
    displayName: 'Check .NET Core SDK Version'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
      feedsToUse: 'select'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: '**/*.csproj'
      arguments: '--configuration $(BuildConfiguration)'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'publish'
      publishWebProjects: true
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'publishedArtifacts'
      publishLocation: 'Container'

  # - task: AzureRmWebAppDeployment@4
  #   inputs:
  #     ConnectionType: 'AzureRM'
  #     azureSubscription: $(azureSubscriptionId)
  #     WebAppName: 'webApp-k24rbi77ds56m'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: # string. Required. Azure subscription. 
      appType: 'webApp'# 'webApp' | 'webAppLinux'. Required. App type. 
      appName: 'webApp-k24rbi77ds56m' # string. Required. App name. 
      #deployToSlotOrASE: false # boolean. Optional. Use when appType != "". Deploy to Slot or App Service Environment. Default: false.
      #resourceGroupName: # string. Required when deployToSlotOrASE = true. Resource group. 
      #slotName: 'production' # string. Required when deployToSlotOrASE = true. Slot. Default: production.
      package: '$(System.DefaultWorkingDirectory)/**/*.zip' # string. Required. Package or folder. Default: $(System.DefaultWorkingDirectory)/**/*.zip.
      #customDeployFolder: # string. Optional. Use when package EndsWith .war. Custom Deploy Folder. 
      #runtimeStack: # string. Optional. Use when appType = webAppLinux. Runtime stack. 
      #startUpCommand: # string. Optional. Use when appType = webAppLinux. Startup command. 
    # Application and Configuration Settings
      #customWebConfig: # string. Optional. Use when appType != webAppLinux && package NotEndsWith .war. Generate web.config parameters for Python, Node.js, Go and Java apps. 
      #appSettings: # string. App settings. 
      #configurationStrings: # string. Configuration settings. 
    # Additional Deployment Options
      #deploymentMethod: 'auto' # 'auto' | 'zipDeploy' | 'runFromPackage'. Required when appType != webAppLinux && appType != "" && package NotEndsWith .war && package NotEndsWith .jar. Deployment method. Default: auto.

