#trigger:
#- master


pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  azureServiceConnection: 'ARM_TEMPLATE_SERVICE_CONNECTION'

steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '7.x'
      installationPath: $(Agent.ToolsDirectory)/dotnet

  - script: |
      dotnet --version
    displayName: 'Check .NET Core SDK Version'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
      feedsToUse: 'select'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: '**/*.csproj'
      arguments: '--configuration $(BuildConfiguration)'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'publish'
      publishWebProjects: true
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'publishedArtifacts' 
      publishLocation: FilePath # what kind of publish I am interested in (container)
      TargetPath: '$(System.DefaultWorkingDirectory)/targetPath/' # set where is the folder, where is the archieve we created. 


  - task: AzureRmWebAppDeployment@4
    inputs:
      ConnectionType: 'AzureRM'
      azureSubscription: 'ARM_TEMPLATE_SERVICE_CONNECTION'
      appType: 'webApp'
      WebAppName: 'UtsavWebAppTwo'
      Package: '$(System.DefaultWorkingDirectory)/**/*.zip'
      # Additional inputs for ARM template deployment


